<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travel About Us</title>

    <!--bootstrap.min.css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--font-awesome.min.css -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!--material-design-iconic-font.min.css -->
    <link href="assets/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!--owl.carousel.min.css -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <!--magnific-popup.css -->
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <!--nice-select.css -->
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <!--slicknav.min.css -->
    <link href="assets/css/slicknav.min.css" rel="stylesheet">
    <!--style.css -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--responsive.css -->
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>
<body>
<!--Popup search area start -->
<div id="popup-search-box-id" class="popup-search-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="popup-search-box-inner">
                    <form action="mail.php">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="search" placeholder="Search here...">
                            </div>
                            <div class="col-md-2">
                                <button type="submit"><i class="zmdi zmdi-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <span class="close-btn-search"><i class="zmdi zmdi-close"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Popup search area end -->
<!--page-welcome-area start -->
<div class="page-welcome-area">
    <div class="header-area header-absolute page-header-style">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainmenu">
                        <ul id="slicknav-menu-list">
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Hompage two</a></li>
                                    <li><a href="index-3.html">Hompage three</a></li>
                                </ul>
                            </li>
                            <li><a href="tours.html">Tours</a>
                                <ul>
                                    <li><a href="tours-details.html">Tours Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="destinations.html">Destination</a></li>
                            <li><a href="team-member.html">Team</a>
                                <ul>
                                    <li><a href="team-details.html">Team Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Page</a>
                                <ul>
                                    <li><a href="car-booking.html">Car Booking</a></li>
                                    <li><a href="car-list.html">Car List</a></li>
                                    <li><a href="car-details.html">Car Details</a></li>
                                    <li><a href="flight-home.html">Flight Home</a></li>
                                    <li><a href="flight-booking.html">Flight Booking</a></li>
                                    <li><a href="flight-details.html">Flight Details</a></li>
                                    <li><a href="hotel-list.html">Hotel List</a></li>
                                    <li><a href="hotel-details.html">Hotel Details</a></li>
                                    <li><a href="hotel-booking.html">Hotel Booking</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="contact-us-v2.html">Contact Us 2</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                    <li><a href="404-v2.html">404 Error 2</a></li>
                                    <li><a href=""></a></li>
                                </ul>
                            </li>
                            <li><a href="blog-medium.html">Blog</a>
                                <ul>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-6">
                    <div class="header-right">
                        <a href="cart.html" class="travel-cart"><img src="../img/cart-icon-img2.png" alt=""><span>0</span></a>
                        <a href="#" class="search-icon-header"><i class="zmdi zmdi-search"></i></a>
                        <ul class="language-selector">
                            <li><a href="#" class="header-flug"><img src="../img/flug-1.jpg" alt=""><i class="zmdi zmdi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#"><img src="../img/flug-2.jpg" alt=""> <span>India</span></a></li>
                                    <li><a href="#"><img src="../img/flug-3.jpg" alt=""> <span>NewZealand</span></a></li>
                                    <li><a href="#"><img src="../img/flug-4.jpg" alt=""> <span>Sri Lanka</span></a></li>
                                    <li><a href="#"><img src="../img/flug-5.jpg" alt=""> <span>Zimbabwe</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="login.html">Login</a>
                        <a href="register.html">Register</a>
                    </div>
                    <div class="slicknav-menu-wrap"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title-area black-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-inner">
                        <div class="page-title-inner-table-cell">
                            <h1>About us</h1>
                            <div class="page-title-menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">About</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page-welcome-area end -->
<!--aboutus-page-content-area start -->
<div class="aboutus-page-content-area section-padding">
    <div class="welcome-to-travel-area">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="welcome-to-travel-inner">
                        <div class="welcome-to-travel-inner-left">
                            <h2>Welcome To Travel</h2>
                            <p><span class="big-letter">A</span><span class="big-letter-right-text">fter the sandstorm swept across northern China in the early hours of Thursday.</span> <span class="big-letter-right-text">Sand industrial pollution airpocalypse in the middle of spring Li added</span>China’s official news
                                Xinhua said at least nine Chinese regions  from Xinjiang and Gansu in the west to Hebei and
                                Heilongjiang further east would be affected by the air pollution between Thursday and Friday
                                Visibility in Beijing had plummeted to about capital and wase.</p>
                            <p>Nicotine shaded mist loomed over Beijing on Thursday after a massive sandstorm slammed into the Chinese capital bringing the latest airpocalypse to this smog-choked city Dozens of flig
                                hts were reportedly cancelled at Beijing’s airport, the world’s second busiest, and authorities
                                urged residents to stay indoors after levels of tiny .</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="welcome-to-travel-inner-right">
                        <img src="../img/about-us-top-img1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="counter-up-area text-center counter-up-about section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="../img/counter-up-img1.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">15,050</span></h1>
                            <p>Happy Customers</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="../img/counter-up-img2.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">2130</span></h1>
                            <p>Amazing Tours</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="../img/counter-up-img3.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">5050</span></h1>
                            <p>In Business</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="../img/counter-up-img4.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">106</span></h1>
                            <p>Award Winning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-title text-center rockstar-section-title padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h1>Rockstar Team</h1>
                    <p>Explore a different way to travel</p>
                </div>
            </div>
        </div>
    </div>

    <div class="team-members-area padding-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-member-carousel-about owl-carousel">
                        <div class="single-team-member">
                            <div class="team-member-image team-member-image1">
                                <div class="team-member-image-inner">
                                    <div class="team-member-socials">
                                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                        <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <h4>Dixie Armstrong</h4>
                            <p>CEO</p>
                        </div>
                        <div class="single-team-member">
                            <div class="team-member-image team-member-image2">
                                <div class="team-member-socials">
                                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                </div>
                            </div>
                            <h4>Katlynn Pouros</h4>
                            <p>Marketing Manager</p>
                        </div>
                        <div class="single-team-member">
                            <div class="team-member-image team-member-image3">
                                <div class="team-member-socials">
                                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                </div>
                            </div>
                            <h4>Daphnee Schoen</h4>
                            <p>Customer Support</p>
                        </div>
                        <div class="single-team-member">
                            <div class="team-member-image team-member-image4">
                                <div class="team-member-socials">
                                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                </div>
                            </div>
                            <h4>Norbert Wunsch</h4>
                            <p>Europe Tour Expert</p>
                        </div>
                        <div class="single-team-member">
                            <div class="team-member-image team-member-image8">
                                <div class="team-member-socials">
                                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                                </div>
                            </div>
                            <h4>Gerard Parisian</h4>
                            <p>Europe Tour Expert</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-title text-center why-best-title-about padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Why We Are Best</h1>
                    <p>Explore a different way to travel</p>
                </div>
            </div>
        </div>
    </div>

    <div class="best-for-clients-columns text-center hp2-area-bg about-us-best-for-c">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="best-for-clients-single-item">
                        <img src="../img/best-for-clients-pink-img-1.png" alt="">
                        <h4>Best Destinations</h4>
                        <p>West to Hebei and Heilon gjiang further east
                            would be affectd by the air pollution betwen
                            Visibility in Beijing had plummeted .</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="best-for-clients-single-item">
                        <img src="../img/best-for-clients-pink-img-2.png" alt="">
                        <h4>Best Price Guarantee</h4>
                        <p>Significant slowdown in the rate of air quality
                            improvement as a result of the ramping up of
                            industrial activity around Beijing.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="best-for-clients-single-item">
                        <img src="../img/best-for-clients-pink-img-3.png" alt="">
                        <h4>Super Fast Booking</h4>
                        <p>Concentrations of particulates such as PM10
                            and PM2.5 had been linked to lung cancer an
                            strokes Li the Greenpeace activist.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--aboutus-page-content-area end -->
<!--footer-area start -->
<div class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget para-widget">
                    <img src="../img/footer-logo.png" class="footer-logo" alt="">
                    <p>Chinese state media captured the severity of the an
                        city’s latest air pollution crisis which local authorities
                        blamed largely on sand that winds .</p>
                    <p>&copy; 2017 Crazycafe.All Rights Reserved.<br>
                        Designed by <i class="zmdi zmdi-favorite-outline"></i> <a href="#">crazycafe.net</a></p>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-widget list-widget">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">Press Centre</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Travel News</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-widget list-widget">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li><a href="#">Standard Blog Post</a></li>
                        <li><a href="#">Amazing Fullwidth Post</a></li>
                        <li><a href="#">Amazing Place</a></li>
                        <li><a href="#">Quote Post</a></li>
                        <li><a href="#">Link Post</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-widget pink-icon-widget">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="tel:(799)-376-4681">(799) 376-4681</a></li>
                        <li><a href="mailto:Stroman.rogers@gmail.com">Stroman.rogers@gmail.com</a></li>
                        <li><a href="#">6281 Liana Extensions,
                            Lemkeport, NY </a></li>
                    </ul>

                    <div class="social-links-icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-area start -->

<!--jquery.min.js-->
<script src="assets/js/jquery.min.js"></script>
<!--bootstrap.min.js-->
<script src="assets/js/bootstrap.min.js"></script>
<!--owl.carousel.min.js-->
<script src="assets/js/owl.carousel.min.js"></script>
<!--magnific-popup-1.1.0.js-->
<script src="assets/js/magnific-popup-1.1.0.js"></script>
<!--jquery.nice-select.min.js-->
<script src="assets/js/jquery.nice-select.min.js"></script>
<!--jquery.waypoints.4.0.0.min.js-->
<script src="assets/js/jquery.waypoints.4.0.0.min.js"></script>
<!--jquery.counterup.min.js-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--jquery.slicknav.min.js-->
<script src="assets/js/jquery.slicknav.min.js"></script>
<!--main.js-->
<script src="assets/js/main.js"></script>
</body>
</html>
