<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travel Car List</title>

    <!--bootstrap.min.css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--font-awesome.min.css -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!--material-design-iconic-font.min.css -->
    <link href="assets/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!--owl.carousel.min.css -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <!--magnific-popup.css -->
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <!--nice-select.css -->
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <!--slicknav.min.css -->
    <link href="assets/css/slicknav.min.css" rel="stylesheet">
    <!--style.css -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--responsive.css -->
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>
<body>
<!--Popup search area start -->
<div id="popup-search-box-id" class="popup-search-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="popup-search-box-inner">
                    <form action="mail.php">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="search" placeholder="Search here...">
                            </div>
                            <div class="col-md-2">
                                <button type="submit"><i class="zmdi zmdi-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <span class="close-btn-search"><i class="zmdi zmdi-close"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Popup search area end -->
<!--page-welcome-area start -->
<div class="page-welcome-area">
    <div class="header-area header-absolute page-header-style">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="../img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mainmenu">
                        <ul id="slicknav-menu-list">
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Hompage two</a></li>
                                    <li><a href="index-3.html">Hompage three</a></li>
                                </ul>
                            </li>
                            <li><a href="tours.html">Tours</a>
                                <ul>
                                    <li><a href="tours-details.html">Tours Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="destinations.html">Destination</a></li>
                            <li><a href="team-member.html">Team</a>
                                <ul>
                                    <li><a href="team-details.html">Team Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Page</a>
                                <ul>
                                    <li><a href="car-booking.html">Car Booking</a></li>
                                    <li><a href="car-list.html">Car List</a></li>
                                    <li><a href="car-details.html">Car Details</a></li>
                                    <li><a href="flight-home.html">Flight Home</a></li>
                                    <li><a href="flight-booking.html">Flight Booking</a></li>
                                    <li><a href="flight-details.html">Flight Details</a></li>
                                    <li><a href="hotel-list.html">Hotel List</a></li>
                                    <li><a href="hotel-details.html">Hotel Details</a></li>
                                    <li><a href="hotel-booking.html">Hotel Booking</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="contact-us-v2.html">Contact Us 2</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                    <li><a href="404-v2.html">404 Error 2</a></li>
                                    <li><a href=""></a></li>
                                </ul>
                            </li>
                            <li><a href="blog-medium.html">Blog</a>
                                <ul>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-6">
                    <div class="header-right">
                        <a href="cart.html" class="travel-cart"><img src="../img/cart-icon-img2.png" alt=""><span>0</span></a>
                        <a href="#" class="search-icon-header"><i class="zmdi zmdi-search"></i></a>
                        <ul class="language-selector">
                            <li><a href="#" class="header-flug"><img src="../img/flug-1.jpg" alt=""><i class="zmdi zmdi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#"><img src="../img/flug-2.jpg" alt=""> <span>India</span></a></li>
                                    <li><a href="#"><img src="../img/flug-3.jpg" alt=""> <span>NewZealand</span></a></li>
                                    <li><a href="#"><img src="../img/flug-4.jpg" alt=""> <span>Sri Lanka</span></a></li>
                                    <li><a href="#"><img src="../img/flug-5.jpg" alt=""> <span>Zimbabwe</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="login.html">Login</a>
                        <a href="register.html">Register</a>
                    </div>
                    <div class="slicknav-menu-wrap"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-title-area black-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title-inner">
                        <div class="page-title-inner-table-cell">
                            <h1>Car list</h1>
                            <div class="page-title-menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="#">Car list</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--page-welcome-area end -->
<!--car-list-page-content-area start -->
<div class="car-list-page-content-area padding-bottom">
    <div class="car-list-top-form padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="car-list-top-form-inner">
                        <form action="https://formspree.io/rabukushia@gmail.com" method="POST">
                            <div class="car-list-find">
                                <h6>Find your Car</h6>
                                <input type="text" name="where-go" placeholder="Where do you want to go?">
                            </div>
                            <div class="car-list-check-in">
                                <h6>Check In</h6>
                                <input type="date" name="date">
                            </div>
                            <div class="car-list-check-out">
                                <h6>Check out</h6>
                                <input type="date" name="date">
                            </div>
                            <div class="car-list-adults">
                                <h6>Adults</h6>
                                <input type="number" name="number" value="1">
                            </div>
                            <div class="car-list-child">
                                <h6>Child</h6>
                                <input type="number" name="number" value="1">
                            </div>
                            <div class="car-list-submit">
                                <button type="submit" class="pink-btn">Find Car</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car-lists-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="car-list-boxes">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="car-list-single-box">
                                    <div class="car-list-single-box-image car-list-single-box-image1">
                                        <div class="car-list-image-inner">
                                            <h3>Tours in Greece</h3>
                                            <div class="single-car-rating">
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-list-single-box-text">
                                        <h4>$250 <span>Per day</span></h4>
                                        <p>Swimming hundreds of feet beneath the ocea
                                            n’s surface in many parts of the world are prol
                                            ific architects called giant larvaceans.</p>
                                        <div class="car-list-buttons">
                                            <a href="#" class="pink-btn">Book now</a>
                                            <a href="#" class="car-share-btn"><i class="zmdi zmdi-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="car-list-single-box">
                                    <div class="car-list-single-box-image car-list-single-box-image2">
                                        <div class="car-list-image-inner">
                                            <h3>Tours In USA</h3>
                                            <div class="single-car-rating">
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-list-single-box-text">
                                        <h4>$350 <span>Per day</span></h4>
                                        <p>The creatures help transfer carbon that has
                                            been removed from the atmosphere by pho
                                            tosynthesizing organisms to the sea.</p>
                                        <div class="car-list-buttons">
                                            <a href="cart.html" class="pink-btn">Book now</a>
                                            <a href="#" class="car-share-btn"><i class="zmdi zmdi-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="car-list-single-box">
                                    <div class="car-list-single-box-image car-list-single-box-image3">
                                        <div class="car-list-image-inner">
                                            <h3>Tours in Italy</h3>
                                            <div class="single-car-rating">
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-list-single-box-text">
                                        <h4>$450 <span>Per day</span></h4>
                                        <p>Saturn and its innermost ring on April 26, the
                                            first of 22 such encounters before will plunge
                                            into’s atmosphere in September.</p>
                                        <div class="car-list-buttons">
                                            <a href="cart.html" class="pink-btn">Book now</a>
                                            <a href="#" class="car-share-btn"><i class="zmdi zmdi-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="car-list-single-box">
                                    <div class="car-list-single-box-image car-list-single-box-image4">
                                        <div class="car-list-image-inner">
                                            <h3>Tours in Paris</h3>
                                            <div class="single-car-rating">
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-list-single-box-text">
                                        <h4>$320 <span>Per day</span></h4>
                                        <p>Pound oculus, a lens that will give the impres
                                            sion of seeing the fish from the bottom huge
                                            cocktail glass iry and exposition. </p>
                                        <div class="car-list-buttons">
                                            <a href="cart.html" class="pink-btn">Book now</a>
                                            <a href="#" class="car-share-btn"><i class="zmdi zmdi-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="car-list-single-box">
                                    <div class="car-list-single-box-image car-list-single-box-image5">
                                        <div class="car-list-image-inner">
                                            <h3>Tours in Brasil</h3>
                                            <div class="single-car-rating">
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-list-single-box-text">
                                        <h4>$250 <span>Per day</span></h4>
                                        <p>Connection between our planet and the heav
                                            ens above These volcanoes which have begu
                                            millions of tourists visiting .</p>
                                        <div class="car-list-buttons">
                                            <a href="cart.html" class="pink-btn">Book now</a>
                                            <a href="#" class="car-share-btn"><i class="zmdi zmdi-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="car-list-single-box">
                                    <div class="car-list-single-box-image car-list-single-box-image6">
                                        <div class="car-list-image-inner">
                                            <h3>Tours in Spaine</h3>
                                            <div class="single-car-rating">
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="car-list-single-box-text">
                                        <h4>$250 <span>Per day</span></h4>
                                        <p>Layer of solid rock that can flow like a liquid,
                                            just substantially slower this mantle is there
                                            ason plates move across the surface.</p>
                                        <div class="car-list-buttons">
                                            <a href="cart.html" class="pink-btn">Book now</a>
                                            <a href="#" class="car-share-btn"><i class="zmdi zmdi-share"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="car-list-sidebar">
                        <div class="car-list-single-sidebar padding-bottom">
                            <h4>Star rating</h4>
                            <div class="single-input-row">
                                <input type="checkbox" id="checkbox-one">
                                <label for="checkbox-one">
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <span>08</span>
                                </label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="checkbox-one2">
                                <label for="checkbox-one2">
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <span>08</span>
                                </label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="checkbox-one3">
                                <label for="checkbox-one3">
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <span>08</span>
                                </label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="checkbox-one4">
                                <label for="checkbox-one4">
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <span>08</span>
                                </label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="checkbox-one5">
                                <label for="checkbox-one5">
                                    <i class="zmdi zmdi-star-outline"></i>
                                    <span>08</span>
                                </label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="checkbox-one6">
                                <label for="checkbox-one6">
                                    No rated
                                    <span>08</span>
                                </label>
                            </div>
                        </div>
                        <div class="car-list-single-sidebar padding-bottom">
                            <h4>Categories</h4>
                            <div class="single-input-row">
                                <input type="checkbox" id="category-one">
                                <label for="category-one">Hotels <span>14</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="category-two">
                                <label for="category-two">Bungalow <span>06</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="category-three">
                                <label for="category-three">Hotel <span>07</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="category-four">
                                <label for="category-four">Hotel <span>08</span></label>
                            </div>
                        </div>
                        <div class="car-list-single-sidebar">
                            <h4>Facility</h4>
                            <div class="single-input-row">
                                <input type="checkbox" id="facility-one">
                                <label for="facility-one">Pet allowed <span>14</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="facility-two">
                                <label for="facility-two">Access for disabled <span>06</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="facility-three">
                                <label for="facility-three">Groups allowed <span>07</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="facility-four">
                                <label for="facility-four">Pet allowed <span>08</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="facility-five">
                                <label for="facility-five">Tour guides <span>08</span></label>
                            </div>
                            <div class="single-input-row">
                                <input type="checkbox" id="facility-six">
                                <label for="facility-six">Car service <span>08</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--car-list-page-content-area end -->
<!--footer-area start -->
<div class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget para-widget">
                    <img src="../img/footer-logo.png" class="footer-logo" alt="">
                    <p>Chinese state media captured the severity of the an
                        city’s latest air pollution crisis which local authorities
                        blamed largely on sand that winds .</p>
                    <p>&copy; 2017 Crazycafe.All Rights Reserved.<br>
                        Designed by <i class="zmdi zmdi-favorite-outline"></i> <a href="#">crazycafe.net</a></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-widget list-widget">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">Press Centre</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Travel News</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-widget list-widget">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li><a href="#">Standard Blog Post</a></li>
                        <li><a href="#">Amazing Fullwidth Post</a></li>
                        <li><a href="#">Amazing Place</a></li>
                        <li><a href="#">Quote Post</a></li>
                        <li><a href="#">Link Post</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-widget pink-icon-widget">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="tel:(799)-376-4681">(799) 376-4681</a></li>
                        <li><a href="mailto:Stroman.rogers@gmail.com">Stroman.rogers@gmail.com</a></li>
                        <li><a href="#">6281 Liana Extensions,
                            Lemkeport, NY </a></li>
                    </ul>

                    <div class="social-links-icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--footer-area start -->

<!--jquery.min.js-->
<script src="assets/js/jquery.min.js"></script>
<!--bootstrap.min.js-->
<script src="assets/js/bootstrap.min.js"></script>
<!--owl.carousel.min.js-->
<script src="assets/js/owl.carousel.min.js"></script>
<!--magnific-popup-1.1.0.js-->
<script src="assets/js/magnific-popup-1.1.0.js"></script>
<!--jquery.nice-select.min.js-->
<script src="assets/js/jquery.nice-select.min.js"></script>
<!--jquery.waypoints.4.0.0.min.js-->
<script src="assets/js/jquery.waypoints.4.0.0.min.js"></script>
<!--jquery.counterup.min.js-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--jquery.slicknav.min.js-->
<script src="assets/js/jquery.slicknav.min.js"></script>
<!--main.js-->
<script src="assets/js/main.js"></script>
</body>
</html>
