<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Travel Travel</title>

    <!--bootstrap.min.css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!--font-awesome.min.css -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!--material-design-iconic-font.min.css -->
    <link href="assets/css/material-design-iconic-font.min.css" rel="stylesheet">
    <!--owl.carousel.min.css -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet">
    <!--magnific-popup.css -->
    <link href="assets/css/magnific-popup.css" rel="stylesheet">
    <!--nice-select.css -->
    <link href="assets/css/nice-select.css" rel="stylesheet">
    <!--slicknav.min.css -->
    <link href="assets/css/slicknav.min.css" rel="stylesheet">
    <!--style.css -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--responsive.css -->
    <link href="assets/css/responsive.css" rel="stylesheet">

</head>
<body>
<div id="popup-search-box-id" class="popup-search-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="popup-search-box-inner">
                    <form action="mail.php">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="search" placeholder="Search here...">
                            </div>
                            <div class="col-md-2">
                                <button type="submit"><i class="zmdi zmdi-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <span class="close-btn-search"><i class="zmdi zmdi-close"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="welcome-area">
    <div class="header-area header-absolute">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="logo">
                        <a href="index.html"><img src="assets/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-8">
                    <div class="mainmenu">
                        <ul id="slicknav-menu-list">
                            <li><a href="index.html">Home</a>
                                <ul>
                                    <li><a href="index-2.html">Hompage two</a></li>
                                    <li><a href="index-3.html">Hompage three</a></li>
                                </ul>
                            </li>
                            <li><a href="tours.html">Tours</a>
                                <ul>
                                    <li><a href="tours-details.html">Tours Details</a></li>
                                </ul>
                            </li>
                            <li><a href="about-us.html">About</a></li>
                            <li><a href="destinations.html">Destination</a></li>
                            <li><a href="team-member.html">Team</a>
                                <ul>
                                    <li><a href="team-details.html">Team Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Page</a>
                                <ul>
                                    <li><a href="car-booking.html">Car Booking</a></li>
                                    <li><a href="car-list.html">Car List</a></li>
                                    <li><a href="car-details.html">Car Details</a></li>
                                    <li><a href="flight-home.html">Flight Home</a></li>
                                    <li><a href="flight-booking.html">Flight Booking</a></li>
                                    <li><a href="flight-details.html">Flight Details</a></li>
                                    <li><a href="hotel-list.html">Hotel List</a></li>
                                    <li><a href="hotel-details.html">Hotel Details</a></li>
                                    <li><a href="hotel-booking.html">Hotel Booking</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="shop-details.html">Shop Details</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="contact-us.html">Contact Us</a></li>
                                    <li><a href="contact-us-v2.html">Contact Us 2</a></li>
                                    <li><a href="404.html">404 Error</a></li>
                                    <li><a href="404-v2.html">404 Error 2</a></li>
                                    <li><a href=""></a></li>
                                </ul>
                            </li>
                            <li><a href="blog-medium.html">Blog</a>
                                <ul>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8 col-xs-6">
                    <div class="header-right">
                        <a href="#" class="travel-cart"><img src="assets/img/cart-icon-img.png" alt=""><span>0</span></a>
                        <a href="#" class="search-icon-header"><i class="zmdi zmdi-search"></i></a>
                        <ul class="language-selector">
                            <li><a href="#" class="header-flug"><img src="assets/img/flug-1.jpg" alt=""><i class="zmdi zmdi-chevron-down"></i></a>
                                <ul>
                                    <li><a href="#"><img src="assets/img/flug-2.jpg" alt=""> <span>India</span></a></li>
                                    <li><a href="#"><img src="assets/img/flug-3.jpg" alt=""> <span>NewZealand</span></a></li>
                                    <li><a href="#"><img src="assets/img/flug-4.jpg" alt=""> <span>Sri Lanka</span></a></li>
                                    <li><a href="#"><img src="assets/img/flug-5.jpg" alt=""> <span>Zimbabwe</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        <a href="login.html">Login</a>
                        <a href="register.html">Register</a>
                    </div>
                    <div class="slicknav-menu-wrap"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-area slider-area-hp1 owl-carousel text-center">
        <div class="single-slide-item hp1-slider-bg1" data-dot="<img src='assets/img/hp1-slider-small1.jpg' alt=''>">
            <div class="single-slide-item-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1>Travel the world</h1>
                            <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                            <a href="tours.html" class="pink-btn">View All Tours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide-item hp1-slider-bg2" data-dot="<img src='assets/img/hp1-slider-small2.jpg' alt=''>">
            <div class="single-slide-item-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1>Travel the world</h1>
                            <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                            <a href="tours.html" class="pink-btn">View All Tours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide-item hp1-slider-bg3" data-dot="<img src='assets/img/hp1-slider-small3.jpg' alt=''>">
            <div class="single-slide-item-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <h1>Travel the world</h1>
                            <p>Writers and stars of Veep have responded incredulously to the news an Australian politician</p>
                            <a href="tours.html" class="pink-btn">View All Tours</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="slider-bottom-form-carousel-area-hp1 padding-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="slider-bottom-form-hp1">
                    <div class="slider-bottom-menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Hotels</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tours</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Car rent</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Flights</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <div class="s-bottom-form">
                                <form action="index.html">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="name-input-arrow"><input type="text" id="hotel-name-input" name="hotel-name" placeholder="Hotel name here"></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="city-select" id="city-select">
                                                <option value="1">Choose City</option>
                                                <option value="2">City Name - 1</option>
                                                <option value="3">City Name - 2</option>
                                                <option value="4">City Name - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="adults-select" id="adults-select">
                                                <option value="1">Adults</option>
                                                <option value="2">Yes</option>
                                                <option value="3">No</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="kids-select" id="kids-select">
                                                <option value="1">Kids</option>
                                                <option value="2">Kids - 1</option>
                                                <option value="3">Kids - 2</option>
                                                <option value="4">Kids - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="min-price-select" id="min-price-select">
                                                <option value="1">Min Price</option>
                                                <option value="2">$50</option>
                                                <option value="3">$50</option>
                                                <option value="4">$50</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="max-price-select" id="max-price-select">
                                                <option value="1">Max Price</option>
                                                <option value="2">$25</option>
                                                <option value="3">$50</option>
                                                <option value="4">$100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                    </div>
                                    <button type="submit" class="pink-btn">Find Hotels</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <div class="s-bottom-form">
                                <form action="index.html" method="POST">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" id="hotel-name-input2" name="hotel-name2" placeholder="Hotel name here">
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="city-select2" id="city-select2">
                                                <option value="1">Choose City</option>
                                                <option value="2">City Name - 1</option>
                                                <option value="3">City Name - 2</option>
                                                <option value="4">City Name - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="adults-select2" id="adults-select2">
                                                <option value="1">Adults</option>
                                                <option value="2">Yes</option>
                                                <option value="3">No</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="kids-select2" id="kids-select2">
                                                <option value="1">Kids</option>
                                                <option value="2">Kids - 1</option>
                                                <option value="3">Kids - 2</option>
                                                <option value="4">Kids - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="min-price-select2" id="min-price-select2">
                                                <option value="1">Min Price</option>
                                                <option value="2">$50</option>
                                                <option value="3">$50</option>
                                                <option value="4">$50</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="max-price-select2" id="max-price-select2">
                                                <option value="1">Max Price</option>
                                                <option value="2">$25</option>
                                                <option value="3">$50</option>
                                                <option value="4">$100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                    </div>
                                    <button type="submit" class="pink-btn">Find Tours</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">
                            <div class="s-bottom-form">
                                <form action="index.html">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" id="hotel-name-input3" name="hotel-name3" placeholder="Hotel name here">
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="city-select3" id="city-select3">
                                                <option value="1">Choose City</option>
                                                <option value="2">City Name - 1</option>
                                                <option value="3">City Name - 2</option>
                                                <option value="4">City Name - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="adults-select3" id="adults-select3">
                                                <option value="1">Adults</option>
                                                <option value="2">Yes</option>
                                                <option value="3">No</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="kids-select3" id="kids-select3">
                                                <option value="1">Kids</option>
                                                <option value="2">Kids - 1</option>
                                                <option value="3">Kids - 2</option>
                                                <option value="4">Kids - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="min-price-select3" id="min-price-select3">
                                                <option value="1">Min Price</option>
                                                <option value="2">$50</option>
                                                <option value="3">$50</option>
                                                <option value="4">$50</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="max-price-select3" id="max-price-select3">
                                                <option value="1">Max Price</option>
                                                <option value="2">$25</option>
                                                <option value="3">$50</option>
                                                <option value="4">$100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                    </div>
                                    <button type="submit" class="pink-btn">Find Cars</button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="settings">
                            <div class="s-bottom-form">
                                <form action="index.html">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" id="hotel-name-input4" name="hotel-name4" placeholder="Hotel name here">
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="city-select4" id="city-select4">
                                                <option value="1">Choose City</option>
                                                <option value="2">City Name - 1</option>
                                                <option value="3">City Name - 2</option>
                                                <option value="4">City Name - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="adults-select4" id="adults-select4">
                                                <option value="1">Adults</option>
                                                <option value="2">Yes</option>
                                                <option value="3">No</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="kids-select4" id="kids-select4">
                                                <option value="1">Kids</option>
                                                <option value="2">Kids - 1</option>
                                                <option value="3">Kids - 2</option>
                                                <option value="4">Kids - 3</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <select name="min-price-selec4t" id="min-price-select4">
                                                <option value="1">Min Price</option>
                                                <option value="2">$50</option>
                                                <option value="3">$50</option>
                                                <option value="4">$50</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="max-price-select4" id="max-price-select4">
                                                <option value="1">Max Price</option>
                                                <option value="2">$25</option>
                                                <option value="3">$50</option>
                                                <option value="4">$100</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="date-input-arrow"><input type="date" name="date"></p>
                                        </div>
                                    </div>
                                    <button type="submit" class="pink-btn">Find Flights</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="slider-bottom-gallery-hp1 owl-carousel">
                    <div class="slider-bottom-single-gallery" data-dot="<img src='assets/img/slider-bottom-hp1-gallery1.jpg' alt=''>">
                        <img src="assets/img/slider-bottom-hp1-gallery1.jpg" alt="">
                    </div>
                    <div class="slider-bottom-single-gallery" data-dot="<img src='assets/img/slider-bottom-hp1-gallery2.jpg' alt=''>">
                        <img src="assets/img/slider-bottom-hp1-gallery2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-destination-area">
    <div class="section-title text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Top destinations in the world</h1>
                    <p>Explore a different way to travel</p>
                </div>
            </div>
        </div>
    </div>

    <div class="top-destination-columns padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hp1-top-destination-carousel owl-carousel">
                        <div class="single-top-destination-item top-destination-item-bg1 black-overlay">
                            <div class="single-top-destination-item-inner">
                                <h2>New York</h2>
                                <a href="#" class="pink-btn">$1250</a>
                            </div>
                        </div>
                        <div class="single-top-destination-item top-destination-item-bg2 black-overlay">
                            <div class="single-top-destination-item-inner">
                                <h2>Thailand</h2>
                                <a href="#" class="pink-btn">$530</a>
                            </div>
                        </div>
                        <div class="single-top-destination-item top-destination-item-bg3 black-overlay">
                            <div class="single-top-destination-item-inner">
                                <h2>Paris</h2>
                                <a href="#" class="pink-btn">$750</a>
                            </div>
                        </div>
                        <div class="single-top-destination-item top-destination-item-bg4 black-overlay">
                            <div class="single-top-destination-item-inner">
                                <h2>Prague</h2>
                                <a href="#" class="pink-btn">$950</a>
                            </div>
                        </div>
                        <div class="single-top-destination-item top-destination-item-bg3 black-overlay">
                            <div class="single-top-destination-item-inner">
                                <h2>Prague</h2>
                                <a href="#" class="pink-btn">$950</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-sea-tours-area">
    <div class="section-title text-center section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>The Best Sea Tours</h1>
                    <p>Explore a different way to travel</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sea-tours-columns padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sea-tours-carousel-hp1-columns owl-carousel">
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image1 black-overlay ">
                                <a href="#" class="pink-btn">$1500</a>
                                <h2>South America</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">South America - 5 Days in Lake Tahoe</a></h5>
                                <span class="post-day-count">
                                        <a href="#"><i class="zmdi zmdi-time"></i> 5 Days</a>
                                    </span>
                                <span class="post-review-stars">
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                    </span>
                                <span class="post-review-count"><a href="#">(2 Reviews)</a></span>
                            </div>
                        </div>
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image2 black-overlay">
                                <a href="#" class="pink-btn">$1150</a>
                                <h2>British Islands</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">Islands - 7 Days in Popular Place</a></h5>
                                <span class="post-day-count">
                                        <a href="#"><i class="zmdi zmdi-time"></i> 7 Days</a>
                                    </span>
                                <span class="post-review-stars">
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                    </span>
                                <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                            </div>
                        </div>
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image3 black-overlay">
                                <a href="#" class="pink-btn">$1150</a>
                                <h2>Banff</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">Banff - 3 Days in Popular Place</a></h5>
                                <span class="post-day-count">
                                        <a href="#"><i class="zmdi zmdi-time"></i> 3 Days</a>
                                    </span>
                                <span class="post-review-stars">
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                    </span>
                                <span class="post-review-count"><a href="#">(3 Reviews)</a></span>
                            </div>
                        </div>
                        <div class="single-sea-tours-item">
                            <div class="single-sea-tours-image single-sea-tours-image2 black-overlay">
                                <a href="#" class="pink-btn">$1150</a>
                                <h2>British Islands</h2>
                            </div>
                            <div class="single-sea-tours-text">
                                <h5><a href="tours-details.html">Islands - 7 Days in Popular Place</a></h5>
                                <span class="post-day-count">
                                        <a href="#"><i class="zmdi zmdi-time"></i> 7 Days</a>
                                    </span>
                                <span class="post-review-stars">
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        <a href="#"><i class="zmdi zmdi-star-outline dark-star"></i></a>
                                    </span>
                                <span class="post-review-count"><a href="#">(5 Reviews)</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weekend-europe-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Weekend tour in Europe, Paris</h1>
                    <h4>$350</h4>
                    <p>Northern Ireland’s is now contingent. Britain is getting a divorce Northern Ireland is being offered a trial separation for Britain there is a one</p>
                    <a href="tours.html" class="pink-btn">View more Tours</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="padding-bottom footer-top-area">
    <div class="counter-up-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="assets/img/counter-up-img1.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">15,050</span></h1>
                            <p>Happy Customers</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="assets/img/counter-up-img2.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">2130</span></h1>
                            <p>Amazing Tours</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="assets/img/counter-up-img3.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">5050</span></h1>
                            <p>In Business</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-counter-up-item">
                        <div class="single-counter-up-item-image">
                            <img src="assets/img/counter-up-img4.png" alt="">
                        </div>
                        <div class="single-counter-up-item-text">
                            <h1><span class="counter">106</span></h1>
                            <p>Award Winning</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-title text-center clients-speech-title-hp1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h1>Our Client Speech</h1>
                    <p>Explore a different way to travel</p>
                </div>
            </div>
        </div>
    </div>

    <div class="happy-clients-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="happy-clients-carousel owl-carousel">
                        <div data-dot="1" class="happy-client-single-item">
                            <div class="client-details-div">
                                <div class="client-image-box client-image-one"></div>
                                <div class="client-name-text">
                                    <h5>Reta Schmidt</h5>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="client-quote-para">
                                <p>Seconds because, when I came to again I was still la
                                    ughing at Jonah timothy Simons the actor who plays
                                    Jonah responded on Twitter hahahahahahaha oh my
                                    god oh my god He promised. </p>
                            </div>
                        </div>
                        <div data-dot="2" class="happy-client-single-item">
                            <div class="client-details-div">
                                <div class="client-image-box client-image-two"></div>
                                <div class="client-name-text">
                                    <h5>Daphnee Schoen</h5>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="client-quote-para">
                                <p>Significant slowdown in the rate of air quality impro
                                    vement as a result of the ramping up of industrial
                                    activity around Beijing Li claimed Last December ten
                                    of thousands of smog refugees .</p>
                            </div>
                        </div>
                        <div data-dot="3" class="happy-client-single-item">
                            <div class="client-details-div">
                                <div class="client-image-box client-image-three"></div>
                                <div class="client-name-text">
                                    <h5>Danielle Bechtelar</h5>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="client-quote-para">
                                <p>Alongside Rouhani Referring to the marginalisation
                                    of reformists after the 2009 disputed presidential
                                    vote which gave hardliner Mahmoud Ahmadinejad
                                    a second term in office Jahangiri.</p>
                            </div>
                        </div>
                        <div data-dot="4" class="happy-client-single-item">
                            <div class="client-details-div">
                                <div class="client-image-box client-image-one"></div>
                                <div class="client-name-text">
                                    <h5>Reta Schmidt</h5>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="client-quote-para">
                                <p>Seconds because, when I came to again I was still la
                                    ughing at Jonah timothy Simons the actor who plays
                                    Jonah responded on Twitter hahahahahahaha oh my
                                    god oh my god He promised. </p>
                            </div>
                        </div>
                        <div data-dot="" class="happy-client-single-item">
                            <div class="client-details-div">
                                <div class="client-image-box client-image-three"></div>
                                <div class="client-name-text">
                                    <h5>Danielle Bechtelar</h5>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="client-quote-para">
                                <p>Seconds because, when I came to again I was still la
                                    ughing at Jonah timothy Simons the actor who plays
                                    Jonah responded on Twitter hahahahahahaha oh my
                                    god oh my god He promised. </p>
                            </div>
                        </div>
                        <div data-dot="" class="happy-client-single-item">
                            <div class="client-details-div">
                                <div class="client-image-box client-image-two"></div>
                                <div class="client-name-text">
                                    <h5>Daphnee Schoen</h5>
                                    <p>Creative Director</p>
                                </div>
                            </div>
                            <div class="client-quote-para">
                                <p>Seconds because, when I came to again I was still la
                                    ughing at Jonah timothy Simons the actor who plays
                                    Jonah responded on Twitter hahahahahahaha oh my
                                    god oh my god He promised. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="footer-widget para-widget">
                    <img src="assets/img/footer-logo.png" class="footer-logo" alt="">
                    <p>Chinese state media captured the severity of the an
                        city’s latest air pollution crisis which local authorities
                        blamed largely on sand that winds .</p>
                    <p>&copy; 2017 Crazycafe.All Rights Reserved.<br>
                        Designed by <i class="zmdi zmdi-favorite-outline"></i> <a href="#">crazycafe.net</a></p>
                </div>
            </div>
            <div class="col-md-2 col-sm-6">
                <div class="footer-widget list-widget">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">Press Centre</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Travel News</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-widget list-widget">
                    <h4>Recent Posts</h4>
                    <ul>
                        <li><a href="#">Standard Blog Post</a></li>
                        <li><a href="#">Amazing Fullwidth Post</a></li>
                        <li><a href="#">Amazing Place</a></li>
                        <li><a href="#">Quote Post</a></li>
                        <li><a href="#">Link Post</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-widget pink-icon-widget">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="tel:(799)-376-4681">(799) 376-4681</a></li>
                        <li><a href="mailto:Stroman.rogers@gmail.com">Stroman.rogers@gmail.com</a></li>
                        <li><a href="#">6281 Liana Extensions,
                            Lemkeport, NY </a></li>
                    </ul>

                    <div class="social-links-icon">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--jquery.min.js-->
<script src="assets/js/jquery.min.js"></script>
<!--bootstrap.min.js-->
<script src="assets/js/bootstrap.min.js"></script>
<!--owl.carousel.min.js-->
<script src="assets/js/owl.carousel.min.js"></script>
<!--magnific-popup-1.1.0.js-->
<script src="assets/js/magnific-popup-1.1.0.js"></script>
<!--jquery.nice-select.min.js-->
<script src="assets/js/jquery.nice-select.min.js"></script>
<!--jquery.waypoints.4.0.0.min.js-->
<script src="assets/js/jquery.waypoints.4.0.0.min.js"></script>
<!--jquery.counterup.min.js-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!--jquery.slicknav.min.js-->
<script src="assets/js/jquery.slicknav.min.js"></script>
<!--main.js-->
<script src="assets/js/main.js"></script>
</body>
</html>
