<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Заказ </title>
</head>
<body>
<h2>Заказ </h2>

<h3>Имя : </h3>
<h3>Телефон :</h3>
<h3>Адрес : </h3>
<h3>Сумма : </h3>
<h3>Нужна сдача с : </h3>
<h3><a target="_blank" href="http://sunrice.kg/aio-admin/product/cart/list">Перейти к деталям заказа</a></h3>

</body>