{% extends "MainBundle::layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="login-page-content-area section-padding" id="login">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-page-logo text-center">
                        <img src="{{ asset('public/img/footer-logo.png') }}" id="login" alt="">
                        <p>Please login to your account</p>
                    </div>
                    <div class="login-form-div">
                        <form action="https://formspree.io/rabukushtia@gmail.com" method="POST">
                            <input type="email" name="email" placeholder="User Name or Email">
                            <input type="password" name="password" placeholder="Password">
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="checkbox" name="checkbox" id="login-checkbox" value="value">
                                    <label for="login-checkbox">Remember me</label>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a href="#" class="login-forgot-btn">Forgot password?</a>
                                </div>
                            </div>
                            <button type="submit">Login Now</button>
                            <a href="#" class="login-via-btn login-via-facebook"><i class="zmdi zmdi-facebook"></i> <span>Login via facebook</span></a>
                            <a href="#" class="login-via-btn login-via-google-plus"><i class="zmdi zmdi-google-plus"></i> <span>Login via google</span></a>
                            <a href="#" class="login-via-btn login-via-twitter"><i class="zmdi zmdi-twitter"></i> <span>Login via twitter</span></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}